# Data Analysis (part 5)

## Which are the "best" comm classes?
* One way to analyze this is looking at semester-by-semester data on the best courses, and then coming up with a list of overall winners across semesters

In [1]:
%matplotlib inline

import json
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import numpy as np
import matplotlib.pyplot as plt
import requests
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import plotly_express as px
import math
import plotly

In [2]:
# loading the cleaned data back in 
comm_revs_df2 = pd.read_csv('../data/clean_data/comm_revs_df2')

In [3]:
#making sure it's treating the level column as a string and not a number to add up
comm_revs_df2['level'] = comm_revs_df2['level'].astype(int).astype(str)

In [4]:
# in each semester what was the "best" comm class along multiple dimensions

#creating a df to store the best courses 
best = pd.DataFrame() 

#including a column for the semester values
best['term'] = comm_revs_df2['Semester'].unique() 

#establishing which variables to include
variables = ['CourseQuality', 'InstructorQuality', 'AmountLearned', 'Difficulty', 'StimulateInterest', 'WorkRequired']

#for loop: 
for var in variables:
    best[var] = (comm_revs_df2.loc[comm_revs_df2.groupby('Semester')[var].idxmax(), :].reset_index()['level']).values

#reporting results
best


#note: 'best' is highest along the variables, including most difficult and highest workload

,term,CourseQuality,InstructorQuality,AmountLearned,Difficulty,StimulateInterest,WorkRequired
0,2002A,395,398,398,322,322,496
1,2003A,226,398,226,395,262,299
2,2003B,395,323,395,275,395,275
3,2002C,225,225,225,125,225,225
4,2003C,395,395,395,322,395,395
5,2004C,395,397,395,322,262,413
6,2004A,226,226,226,398,226,454
7,2006A,360,326,360,316,326,413
8,2006C,340,130,125,430,130,430
9,2006B,376,376,376,376,376,454
10,2005A,299,299,395,330,398,322
11,2005B,262,123,339,130,262,125
12,2005C,376,376,226,481,395,481
13,2007B,395,395,395,322,262,350
14,2007C,140,262,140,140,262,140
15,2007A,395,413,413,413,413,413
16,2009A,395,395,531,531,395,531
17,2009B,262,262,262,340,262,340
18,2009C,395,395,413,226,413,413
19,2008C,495,495,495,495,495,495
20,2008B,237,237,237,305,237,125
21,2008A,495,495,495,495,495,495
22,2010B,287,299,287,275,299,481
23,2011A,275,300,275,275,226,226
24,2010C,413,395,385,226,385,413
25,2011C,495,395,495,395,495,495
26,2011B,130,398,130,410,130,410
27,2010A,495,495,395,495,495,495
28,2012A,499,495,499,495,495,495
29,2012B,140,130,130,125,130,237
30,2012C,399,399,399,226,399,226
31,2013A,399,399,399,403,399,230
32,2013C,225,395,226,226,240,491
33,2014A,399,399,462,495,495,495
34,2014C,225,225,225,226,225,494
35,2015A,399,399,495,399,399,495
36,2015C,240,395,226,226,240,494
37,2016A,322,322,322,388,322,491
38,2016C,428,428,395,226,428,398
39,2017C,395,395,217,290,217,290
40,2017A,494,310,322,322,310,494
41,2018A,395,395,395,130,395,313
42,2018B,262,218,NaN,491,218,491
43,2018C,384,310,226,226,561,494
44,2019A,395,353,322,322,353,322
45,2019B,290,290,NaN,339,130,339

#### This dataframe is useful for a variety of reasons
* We will aggregate to get all-time winners
* Students like to take "famous" classes or ones that are particularly memorable and highly-regarded; this analysis makes that data readily available (e.g. in spring 2019 the highest amount learned was in COMM-322, and best course quality was COMM-395

In [5]:
#what about in just the past few years:
best.loc[38:]

,term,CourseQuality,InstructorQuality,AmountLearned,Difficulty,StimulateInterest,WorkRequired
38,2016C,428,428,395,226,428,398
39,2017C,395,395,217,290,217,290
40,2017A,494,310,322,322,310,494
41,2018A,395,395,395,130,395,313
42,2018B,262,218,NaN,491,218,491
43,2018C,384,310,226,226,561,494
44,2019A,395,353,322,322,353,322
45,2019B,290,290,NaN,339,130,339

In [6]:
# which courses regularly are at the top of the lists

#making a dataframe for the all-stars
all_stars = pd.DataFrame()

#for loop:
for var in variables:
    all_stars[var] = [best[var].value_counts().idxmax()]

#flipping for user-friendly viewing
all_stars = all_stars.transpose()

#naming the winners column
all_stars.columns = ['all-star']

all_stars

                  all-star
CourseQuality          395
InstructorQuality      395
AmountLearned          395
Difficulty             226
StimulateInterest      262
WorkRequired           495

#### COMM-395 (Communication and the Presidency with Prof. David Eisenhower) is the one most frequently getting top marks for course quality, instructor quality, and amount learned.
* In general, students looking to take 'legendary' COMM classes could use the all_stars chart